{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}DaaZ{% endblock %}

{% block page_content %}
<div class="page-header">
<h1>D . a . a . Z</h1>
<h2 align="center">Let's Dockerize some shit..</h2>
<br></br>
<form action="/" method="POST" enctype="multipart/form-data">
{{ wtf.quick_form(uploadform) }}
</form>
<dev style="color:red">Note: only .zip files are allowed</dev>
<h2 align="center">Or Use Github</h2>
<form action="/" method="POST" enctype="multipart/form-data">
{{ wtf.quick_form(githubform) }}
</form>
</div>
{% endblock %}
